
.Header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
}
.Header a{
    text-decoration: none;
    color: #fff;
    margin-left: 35px;
}